@model RemoteChecker.Models.Person

@{
    ViewData["Title"] = "Details";
}

<h1>Информация о пользователе</h1>

<div>
    <h4>Логин: @Html.DisplayFor(model => model.Login)</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            228 задач
        </dt>
    </dl>
</div>
<div>
    <a asp-action="Delete" asp-route-id="@Model.ID">Удалить пользователя</a>
    <br/>
    <a asp-action="Index">Назад к списку пользователей</a>
</div>
