@model IEnumerable<RemoteChecker.Models.Person>

@{
    ViewData["Title"] = "Список пользователей";
}

<h1>Список пользователей</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                Логин
            </th>
            <th>
                Тут будет количество чекеров
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Login)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Role.Name)
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.ID">Информация</a>
                </td>
            </tr>
        }
    </tbody>
</table>
