@model RemoteChecker.Models.CheckRequest

@{
    ViewData["Title"] = "Информация";
}

<h1>Информация</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Адрес хоста
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HostAddress)
        </dd>
        <dt class = "col-sm-2">
            CRON-выражение
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cron)
        </dd>
    </dl>
</div>
<hr/>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ID">Изменить</a> |
    <a asp-action="Index">Назад к списку чекеров</a>
</div>
