@model RemoteChecker.Models.CheckRequest

@{
    ViewData["Title"] = "Изменение чекера";
}

<h1>Изменение чекера</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ID" />
            <div class="form-group">
                <label class="control-label">Адрес хоста</label>
                <input asp-for="HostAddress" class="form-control" />
                <span asp-validation-for="HostAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">CRON-выражение</label>
                <input asp-for="Cron" class="form-control" />
                <span asp-validation-for="Cron" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Активен</label>
                <input asp-for="Active" />
                <span asp-validation-for="Active" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="PersonID" />
            <div class="form-group">
                <input type="submit" value="Сохранить изменения" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Назад к списку</a>
</div>

