@{
    ViewData["Title"] = "Ошибка";
}

<h1>Доступ запрещен</h1>

<hr/>
<h3>Вы попытались просмотреть информацию или совершить действие, для которого у Вас недостаточно прав</h3>
<hr/>
<h4>Сообщение: @ViewData["err"]</h4>

